@import "./templates.css";
@import "./aside.css";

/* ------site layout [structure]--- */

main {
  grid-area: 3 / 2 / span 1 / span 8;
}

/* -------------dialog------------- */

.container-dialog h1 {
  margin-top: 0;
}

dialog button {
  margin-top: 32px;
}

dialog .cta {
  width: 48vw;
}

/* --------------form----------------*/

form {
  display: flex;
  flex-direction: column;
}

form > div {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  width: 100%;
}

.name-email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}

.name-email > div {
  display: flex;
  flex-direction: column;

  margin-top: 32px;
  width: 100%;
}

.field-name {
  flex-basis: 50%;
}

.field-email {
  flex-basis: 50%;
}

.required-field {
  margin-top: 0;
}

.required-field p {
  padding-top: 0;
  font-size: small;
}

.message-error {
  display: none;
  color: var(--color-darkRed);
  font-family: "Tenor sans";
  font-size: 16px;
  margin-top: 2px;
}

/* lo stesso codice sta sendo condiviso nel contact: spostare? */

/* ref: https://www.w3schools.com/jsref/met_dialog_showModal.asp */
dialog::backdrop {
  background-color: #888888af;
}

.container-dialog {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin: auto;

  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 80vw;
}

.container-dialog > div {
  display: flex;
  justify-content: center;
}

dialog {
  position: fixed;
  z-index: 1;

  padding: 56px;
  left: 0;
  top: 0;

  border: none;
  background-color: var(--color-offWhite);
}

/* -------Styles for mobile 390px-------- */

@media only screen and (max-width: 1340px) {
  main {
    grid-area: 3 / 2 / span 1 / span 4;
  }

  aside {
    display: none;
  }

  .name-email {
    flex-direction: column;
    gap: 0;
  }
}
