footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;

  width: 100%;
  height: 126px;
  margin-top: 56px;
  background-color: var(--color-beige);
}

footer .social-media-footer {
  display: flex;
  gap: 48px;
}

footer .social-media-footer a:hover {
  transform: scale(1.1);
}

.footer-copyright {
  width: 100%;
  text-align: center;
}
